@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body{
font-family: 'Rubik' ;
}

*{
    margin: 0;
    padding: 0; 
}

.main{
    height: 100vh;
   background-image: url("https://thumbs.gfycat.com/BewitchedYearlyAlbatross-size_restricted.gif");
}


.nav-bar{
   margin: 0;
    height: 10px;
    background-color:rgb(219, 172, 41);



}

.nav-social{
    
    height: 50px;
    background-color: black;
}


.icon img{
    width:35px;
}
.icon{
    position:absolute;
    top: 2%;
    width: 15%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.icon img:hover{
    box-shadow: 0px 0px 18px  #a9e932  ;
}

.cart{
    width: 100px;
    height: 50px;
    background-color:rgb(219, 172, 41);
    float: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
.cart img{
    padding: 4px;
    width: 35px;
    top: 4%;
    height: 30px;
    position: absolute;
    left: 3%;
}
.cart span{
   position: absolute;
   top: 27%;
   left: 44%;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   font-size: 17px;

color: black;
}
/* header-bar*/
.header-bar{
    width: 100%;
    height: 100px;
    overflow: hidden;

}
.home-pg{
   position: relative;
    display: flex;
    float: right;
    align-items:flex-end;
    top: 20%;
    right: 10%;

    

    
}
.home-pg a{
    
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-family: cursive;
    font-size:larger;
    font-weight: bold;
    padding: 4%;
    
}

.fish6{
    position: absolute;
    font-size: 90px;
}

#fishpic{
    width: 500px;
    height: 300px;
    background-color: lawngreen;
position: absolute;
top: 200%;
left: 10%;

} 
